log/*.log
log/*.out
log/*.pid
tmp/**/*
.dotest/
.dotest/*.
tmp/.*
tmp/profile*
.DS_Store
doc/plugins
doc/api
doc/app
doc/*.doc
db/schema.sql
db/schema.rb
db/*.sqlite3*
config/database.yml
public/photos/*
public/thumbnails
public/documents
public/article_images/*
public/stylesheets/*.css
uuid.state
nbproject*
index/*
identifier
secret
.project
.#*
\#*
*~
vendor/**/**/doc/*
vendor/plugins/footnotes/*
rsa_key*
sphinx/*
config/ultrasphinx/*.conf
